<header>
    Header
</header>

<div id="content">
    <form id="form">
        <table>
            <thead>
                <tr>
                    <td colspan="2">User Form</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Last name</td>
                    <td><input type="text" name="user.lastName" [(ngModel)]="user.lastName"/></td>
                </tr>
                <tr>
                    <td>First name</td>
                    <td><input type="text" name="user.firstName" [(ngModel)]="user.firstName"/></td>
                </tr>
                <tr>
                    <td>Birthdate</td>
                    <td><input type="text" name="user.birthDate" [ngModel]="user.birthDate | date:'MM-dd-yyyy hh:mm:ss'"/></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"><button type="button" name="submit" (click)="onSubmit()">Submit</button></td>
                </tr>
            </tfoot>
        </table>
    </form>

    <br/>

    <code *ngIf="submitted">
        Thank you for submitting your data, it will be processed by the server! <br/><br/>

        First name: {{ user.lastName }} (user.lastName) <br/>
        Last name: {{ user.firstName }} (user.firstName) <br/>
        user.birthDate: {{ user.birthDate | date:'MM-dd-yyyy hh:mm:ss' }} (user.birthDate) <br/>
    </code>

    <table id="users">
        <tbody>
            <tr>
                <td colspan="4"><b>Users</b></td>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.birthDate | date:'MM-dd-yyyy hh:mm:ss' }}</td>
            </tr>
            <tr>
                <td colspan="4"><b>Updated: {{ updatedUsersTime | date:'MM-dd-yyyy hh:mm:ss' }}</b></td>
            </tr>
        </tbody>
    </table>

    <table id="routes">
        <tbody>
            <tr>
                <th>Route</th>
                <th>Path</th>
            </tr>
            <tr>
                <td>/</td>
                <td><a href="/" alt="/">/</a></td>
            </tr>
            <tr>
                <td>/settings</td>
                <td><a href="/settings" alt="/settings">/settings</a></td>
            </tr>
            <tr>
                <td>/settings/general</td>
                <td><a href="/settings/general" alt="/settings/general">/settings/general</a></td>
            </tr>
            <tr>
                <td>/settings/personal</td>
                <td><a href="/settings/personal" alt="/settings/personal">/settings/personal</a></td>
            </tr>
        </tbody>
    </table>
    <!-- <div id="router-outlet"> -->
        <router-outlet></router-outlet>
    <!-- </div> -->
</div>

<footer>
    Footer
</footer>
